<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adventurer Calculator</title>
</head>
<body>
<h2>Welcome</h2>
<h3 th:text="${'the power is ' + power}"> 
	<b th:text="${' ' + class}"></b>
	<!--
	<b th:if="${power >= 0 && power <= 20000}" th:text="${' C class'}"></b> 
	<b th:if="${power >= 20000 && power <= 100000}"  th:text="${' B class'}"></b> 
	<b th:if="${power > 100000}"  th:text="${' A class'}"></b> 
	-->
to the guild
</h3>

</body>
</html>